$main-color: #00659b;

$backgroud-color: #ddf4fc;
$backgourd-page-color: #f2f2f2;

$text-color: #333333;
$text-second-color: #fafbfb;
$text-third-color: #41b883;

$button-color: #A2C616;
$button-second-color: #809E33;


$icon-color: #d0ae54;
$icon-second-color: #269879;
$icon-third-color: #9e2956;

$shadow-color: #888888;

$tip-color: #f66;

$overlay-color: #1d1d1d;

$link-color: #dddddd;